body {
    margin: 0;
    padding: 0;
}
/* 
.face-container {
    position: relative;
    width: 400px; adjust image size
    height: auto;
  }
  
  .face {
    width: 100%;
    display: block;
  }
*/

  #page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #sun-container {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
  }
  #eye-highlights {
    position: absolute;
    width: 100%;
    z-index: 3;
  }
  #sclera {
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  #sun {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .eyes {
    position: absolute;
    top: 48.5%;
    left: 38%;
    /* ^ adjust eye position */
    width: 24%;
    height: 5%;
    /* ^ adjust eye spacing */
    display: flex;
    justify-content: space-between;
  }
  
  .eye {
    position: relative;
    width: 29%;
    /* height: 50px; */
    /* ^ adjust eye size */
    border-radius: 50%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pupil {
    position: absolute;
    width: 65%;
    height: 85%;
    z-index: 1;
    /* ^ adjust pupil image size */
  }

  #txt-btn {
    position: absolute;
    width: 21%;
    top: 34%;
    left: 40%;
    z-index: 3;
  }
  #txt-btn.sleep {
    width: 21%;
    top: 34%;
    left: 40%;
  }
  #txt-btn.wake {
    width: 19%;
    top: 34%;
    left: 40%;
  }
  #text-btn.hidden {
    display: none;
  }